In [1]:
import pandas as pd
import sqlite3 
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [5]:
df = pd.read_csv('../zippedData/bom.movie_gross.csv.gz')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
title             3387 non-null object
studio            3382 non-null object
domestic_gross    3359 non-null float64
foreign_gross     2037 non-null object
year              3387 non-null int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [11]:
df.sort_values().head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000.0,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300.0,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300.0,2010
3,Inception,WB,292600000.0,535700.0,2010
4,Shrek Forever After,P/DW,238700000.0,513900.0,2010

it looks like the foreign gross is missing just over a third of it's total profits. Let's have a look at that column and see if there is any sort of pattern. But first, it looks like the foreign gross column is an object type. That shouldn't be the case.

It seems like the currency contains commas. This is common in european countries like Italy where instead of periods they use commas. We don't want any of those. So we will remove them.

In [7]:
df.foreign_gross=df.foreign_gross.fillna(value=-1).apply(lambda x: x.replace(",","") if type(x) == str else x).astype(float).replace(-1, np.nan)

convert to thousands rather than dollars.

In [8]:
df.foreign_gross=df.foreign_gross/1000

In [9]:
df.foreign_gross[df.foreign_gross.notnull()].median()

18700.0

first we need to convert the

In [10]:
df[['year', 'foreign_gross']].groupby(['year']).sum()

      foreign_gross
year
2010   1.437426e+07
2011   1.567099e+07
2012   1.703789e+07
2013   1.661239e+07
2014   1.697197e+07
2015   1.520396e+07
2016   1.911904e+07
2017   2.005093e+07
2018   1.747449e+07

In [ ]:
df.