In [42]:
import pandas as pd
import sqlite3 
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

In [43]:
df = pd.read_csv('../zippedData/imdb.name.basics.csv.gz')

In [44]:
df.shape

(606648, 6)

In [45]:
df = df[df.primary_profession.notnull()]

In [46]:
df['number_of_movies'] =df[df['primary_profession'].notnull()][df.primary_profession.str.contains(".*director")].known_for_titles.astype(str).str.split(',').apply(lambda x: len(x))

In [47]:
def make_director_dataframe(df):
    director = df[df.primary_profession.str.contains('.*director')]
    return director

In [48]:
director = make_director_dataframe(df)

In [49]:
director.head()

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles,number_of_movies
5,nm0062879,Ruel S. Bayani,NaN,NaN,"director,production_manager,miscellaneous","tt2590280,tt0352080,tt0216559,tt2057445",4.0
10,nm0064023,Bryan Beasley,NaN,NaN,"director,producer,writer","tt3501180,tt1485100,tt1358897,tt1387162",4.0
15,nm0066163,Arnaud Bedouët,NaN,NaN,"actor,writer,director","tt1355327,tt1977735,tt0173525,tt1710520",4.0
16,nm0066268,Steve Mitchell Beebe,NaN,NaN,"editorial_department,director,editor","tt0827928,tt0119961,tt0408417,tt5521860",4.0
21,nm0068170,Dylan Bell,NaN,NaN,"director,actor,producer","tt4655766,tt3180116,tt8170168,tt4082762",4.0

In [9]:
df.primary_profession.isnull().value_counts()

False    555308
True      51340
Name: primary_profession, dtype: int64