In [1]:
import pandas as pd
import sqlite3 
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [2]:
df1 = pd.read_csv('../zippedData/rt.reviews.tsv', delimiter='\t', encoding='windows-1254')
df2 = pd.read_csv('../zippedData/rt.movie_info.tsv.gz', delimiter='\t', encoding='windows-1254')

In [5]:
df2.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [6]:
df1.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

In [7]:
df = df1.merge(df2, how='inner', on='id')

In [22]:
df.head()
df.shape

(54432, 19)

In [32]:
df.groupby('id').count().review.sort_values(ascending=False)
df[df.id == 782].synopsis[:1]

19076    THREE BILLBOARDS OUTSIDE EBBING, MISSOURI is a...
Name: synopsis, dtype: object

In [9]:
df.box_office = df.box_office.str.strip().str.replace(",","").astype(float)

In [23]:
df.sort_values('box_office', ascending=False).iloc[:1000,:].director.value_counts()#.groupby(['writer']).describe()#.box_office.mean().plot(kind='bar');

Sam Mendes        262
Mel Gibson        249
Peter Jackson     243
Jay Roach         143
Chris Columbus    103
Name: director, dtype: int64

In [ ]:
df.studio = df.studio.str.replace("20th Century Fox Distribution", "20th Century Fox")

In [34]:
df.fresh.value_counts()

fresh     33035
rotten    21397
Name: fresh, dtype: int64