In [2]:
import pandas as pd
import sqlite3 
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [3]:
df = pd.read_csv('../zippedData/tn.movie_budgets.csv.gz')

In [12]:
df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,net_profit
0,1,"Dec 18, 2009",Avatar,425000000.0,760507625.0,2.776345e+09,2.351345e+09
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,6.350639e+08
2,3,"Jun 7, 2019",Dark Phoenix,350000000.0,42762350.0,1.497624e+08,-2.002376e+08
3,4,"May 1, 2015",Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,1.072414e+09
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09,9.997217e+08

In [13]:
df.shape

(5782, 7)

There is some bullshit going in the production cost columns. Clean out the ',' and the '$' business. We are not humans. We are computers.

In [5]:
df.domestic_gross = df.domestic_gross.str.strip().str.replace("$","").str.replace(",","").astype(float)

In [6]:
df.production_budget = df.production_budget.str.strip().str.replace("$","").str.replace(",","").astype(float)

In [7]:
df.worldwide_gross = df.worldwide_gross.str.strip().str.replace("$","").str.replace(",","").astype(float)

Create a new column that is net_profit

In [8]:
df['net_profit'] = df.worldwide_gross-df.production_budget

In [11]:
df.movies = df.movie.str.strip()