In [1]:
import pandas as pd
import sqlite3 
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

In [2]:
df = pd.read_csv('../zippedData/imdb.name.basics.csv.gz')

In [3]:
df.head()

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

In [22]:
df = df[df.primary_profession.notnull()]

In [23]:
def make_director_dataframe(df):
    director = df[df.primary_profession.str.contains('actor')]
    return director

In [24]:
actor = make_director_dataframe(df)

In [25]:
actor['movie_list']=actor.known_for_titles.str.split(",")

/Users/TjH/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [26]:
df.primary_profession.isnull().value_counts()

False    555308
Name: primary_profession, dtype: int64

In [30]:
actor.nconst = actor.nconst.str.strip()

/Users/TjH/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/pandas/core/generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [33]:
actor

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles,movie_list
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898","[tt1470654, tt0363631, tt0104030, tt0102898]"
6,nm0063198,Bayou,NaN,NaN,actor,"tt6579724,tt0093116","[tt6579724, tt0093116]"
14,nm0066093,Ahmad Bedair,1945.0,NaN,"actor,miscellaneous","tt2290391,tt0424830,tt0297398,tt2338117","[tt2290391, tt0424830, tt0297398, tt2338117]"
15,nm0066163,Arnaud Bedouët,NaN,NaN,"actor,writer,director","tt1355327,tt1977735,tt0173525,tt1710520","[tt1355327, tt1977735, tt0173525, tt1710520]"
17,nm0066897,Mohammad-Ali Behboudi,1956.0,NaN,actor,"tt6836462,tt4591834,tt0375911,tt2101473","[tt6836462, tt4591834, tt0375911, tt2101473]"
...,...,...,...,...,...,...,...
606633,nm9985838,Anthony Simonetti,NaN,NaN,actor,tt8028908,[tt8028908]
606637,nm9989005,Jae-Hwan Kim,NaN,NaN,actor,NaN,NaN
606639,nm9989840,Mariya Shekaturova,NaN,NaN,actor,tt5953804,[tt5953804]
606641,nm9990047,Joseph Jackson,NaN,NaN,actor,NaN,NaN
606647,nm9993380,Pegasus Envoyé,NaN,NaN,"director,actor,writer",tt8743182,[tt8743182]

In [35]:
actor.nconst.str.contains(' ').value_counts()

False    177838
Name: nconst, dtype: int64

In [36]:
type(actor.loc['nm0062070'].movie_list)

KeyError: 'nm0062070'

In [ ]:
# Create a matched list of nconst and tconst that they are known for. 
def make_people(df):
    # Create a list of people using name const
    people = []
    movies = []
    for person in df.nconst:
        # append nconst for each movie in list
        people.append(person*len((df.loc[f'{person}'].movie_list)))