In [3]:
# import relevant libraries
import pandas as pd
import sqlite3 
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

Quick formatting reference:

https://medium.com/ibm-data-science-experience/markdown-for-jupyter-notebooks-cheatsheet-386c05aeebed

In [7]:
df_title = pd.read_csv('./zippedData/imdb.title.basics.csv.gz')
df_gross = pd.read_csv('./zippedData/bom.movie_gross.csv.gz')

In [8]:
df_gross.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

If we want to create a de novo movie business enterprise, It would make sense to answer a few of the following questions:
   - What characteristics do movies that are in the upper 25% share? 
       - Fame of actors (defined as mentions on social media at the time)
       - Marketing Budget
       - Length
       - Studio
           - see below
       - Awards
           - Oscars
           - Grammy's
   - What characteristics do all movies share that are in the bottom 25% of all movies?
   - Which studios consitently perform in the top 25% of all movie studios?
       - what characteristics do these movie studios share? 
           - location
           - number of staff
           - How long they have been around for? 
           - Quarterly income.
   - Finally, using the information above, what is best practice for both, avoiding flops and landing a hit